<table class="table table-striped">
  <thead>
    <% @csv_file.headers.each do |header| %>
    <th><%= header %></th>
    <% end %>
    <th> Performance </th>
  </thead>
  <tbody>
  <% @csv_file.csv_rows.reverse.each do |curr, prev| %>
  <tr>
    <% @csv_file.headers.each do |header| %>
    <td><%= curr[header] %></td>
    <% end %>
    <td><%= curr["performance"] %></td>
  </tr>
  <% end %>
  </tbody>
</table>
